$colors_grey_1: #a89eb4;
$colors_grey_2: #847f98;
$colors_grey_3: #dedede;
$colors_grey_4: #dfdce8;
$colors_grey_5: #d7d7d7;
$colors_grey_6: #fefefe;
$colors_grey_7: #edeeee;
$colors_grey_8: #e6e4f0;
$colors_grey_9: #d5d4d7;
$colors_grey_10: #f6f6f6;
$colors_grey_11: #ebebeb;
$colors_grey_12: #847ca8;
$colors_grey_13: #dfdfdf;

$colors_violet_1: #5d528e;
$colors_violet_2: #534884;
$colors_violet_3: #6e63a1;
$colors_violet_4: #a89eb4;
$colors_violet_5: #a59ab1;
$colors_violet_6: #5c508d;
$colors_violet_7: #e2dae9;
$colors_violet_8: #7367a8;
$colors_violet_9: #786cae;
$colors_violet_10: #5d4f8b;

$colors_white: #ffffff;

$colors_black: #000000;
$colors_black_2: #002231;