@media (min-width: 1300px) {
    /*main header*/
    .main-header {
        .container {
            max-width: 1200px;
        }

        &-menu {
            li {
                margin-right: 45px;
            }
        }
    }
    /*main footer*/
    .main-footer {
        .container {
            max-width: 1200px;
        }
    }
}